body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'titilliumregular';
  src: url('titillium_allfont.net-webfont.woff2') format('woff2'),
  url('titillium_allfont.net-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'good_brushregular';
  src: url('good_brush-webfont.woff2') format('woff2'),
  url('good_brush-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}